body {
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.header {
    background-color: #f1f1f1;
    margin-bottom: 30px;
    padding: 10px;
    color: #666;
}

.body {
    max-width: 900px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 50px;
}

.log {
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    border-left: 8px solid gainsboro;
}

.log-header {
    margin: 10px;
    margin-bottom: 20px;
}

.log-body {
    max-height: 80vh;
    overflow-y: scroll;
}

.log-code {
    color: #666;
    margin: 10px;
}

.log-icon {
    font-size: 18px;
    margin-right: 5px;
}

.log-info {
    background-color: #f1f1f1;
    padding: 10px;
    color: #a4a4a4;
}

.message {
    margin-bottom: -10px;
    text-align: center;
    padding: 4px;
    display: none;
}

.message-error {
    background-color: #dc493a;
    color: white;
}
